<div class="update">
  <div class="update-content">
    <div class="notice-wrapper">
      <h2>NPR LIVE ANNOTATION</h2>
      <h4 class="num-annotations"></h4>
    </div>
  </div>
</div>
<div class="update update-nav">
  <div role="status" class="update-status">
    <div class="last-updated">
      <span class="last-updated"></span>
    </div>
    <div class="notice-wrapper">
      <a href="#0" class="update-notice"></a>
      <span class="update-number"></span>
    </div>
    <div class="jump-to">
      <a href="#page-end" class="bottom">Scroll to bottom</a>
    </div>
  </div>
</div>
