@import "base";
@import "annotation";
@import "updates";

main.speech {
  max-width: 800px;
  padding: 0 16px;
  margin: auto;

  & > *:not(.annotation) a[href^="#annotation"] {
    font-weight: normal;
    border-bottom: 4px solid @highlight;
    line-height: 1.9rem;
    padding-bottom: 3px;
    color: inherit;

    .javascript & {
      border-bottom: 4px solid @highlight;
    }
  }
}

